body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #E5F6DF;
}

header {
    background-color: #003333;
    color: white;
    padding: 0px;
    z-index: 0;
    font-size: 1.5em;

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 3fr 1fr;
}

#logo{
    background-image: url(logo.png);
    background-size: cover;
    height: 170px;
    width: 170px;
    margin-left: 5em;
}

#logo2{
    background-image: url(logo2.jpg);
    background-size: cover;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    margin: 10px 10px;
}

main{
    font-size: 0.8em;
    z-index: 0;
}

.intro,.cta {
    position:static;
    top:0;
    left:0;
    z-index:1;  
    font-size: 1.5em;
    color: #003333; 
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}
.button:hover {
    background-color: #45a049;
}

h2{
    font-size: 2em;
}

.intro{
    margin-top: 120px;
}
.cta {
    margin: 0px 0 0 0;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
}

.features{
    margin: 20px 0;
    font-size: 1.5em;
    color: #003333;
    display: flex;
    flex-direction: column;
}

.features ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.features li {
    background: white;
    color: #003333;
    margin: 10px;
    padding: 15px;
    width: 60%;
    margin-left: 15em;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s ease-in-out;
}
.features li:hover {
    transform: scale(1.05);
}

.cssbuttons-io-button {
    background: #22e493;
    color: white;
    font-family: inherit;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 20px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em #714da6;
    overflow: hidden;
    position: relative;
    height: 2em;
    width: 130px;
    padding-right: 3.3em;
    cursor: pointer;
    align-self: center;
    text-decoration: none;
    margin: 50px 100px;
  }
  
  .cssbuttons-io-button .icon {
    background: white;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em #7b52b9;
    right: 0.3em;
    transition: all 0.3s;
  }
  
  .cssbuttons-io-button:hover .icon {
    width: calc(100% - 0.6em);
  }
  
  .cssbuttons-io-button .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: #00651d;
  }
  
  .cssbuttons-io-button:hover .icon svg {
    transform: translateX(0.1em);
  }
  
  .cssbuttons-io-button:active .icon {
    transform: scale(0.95);
  }

footer{
    right: 300px;
    background-color: #003333;
    color: white;
    padding: 10px;
}

@media screen and (max-width: 768px) {
    header {
        grid-template-rows: auto auto auto;
        grid-template-columns: 1fr;
        text-align: center;
    }

    header h1{
        margin: 10px 0;
        font-size: 1.8em;
    }

    header p{
        margin: 30px 10px;
        font-size: 0.8em;
    }
    
    #logo {
        margin: 0 auto;
        width: 120px;
        height: 120px;
    }
    
    #logo2 {
        background-image: none;
        width: 0;
        height: 0;
    }
    
    .intro, .cta {
        font-size: 1.2em;
        margin: 50px 0 0 0;
    }

    .intro p, .cta p {
        font-size: 1.1em;
        margin: 10px 20px;
    }
    
    .features li {
        width: 80%;
        margin-left: 5%;
    }
    
}